/* partie article ................... */
.imgarticle {
  width: 25%;
}
.article {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.descriptionarticle {
  text-align: justify;
}

html,
body {
    width: 100%;
    min-height: 100vh;
}

h2 {
    font-family: 'Roboto', sans-serif;
}

/******** HEADER *********/

body{
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
  }
  
.search {
    width: 100%;
    height: 35px;
    position: relative;
    display: flex;
}

header form input {
    width: 100%;
    height: 100%;
    border: 1px solid #ADADAD;
    border-right: none;
    padding: 5px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

header form input:focus{
    color: #ADADAD;
}

header form button {
    width: 40px;
    border: 1px solid #adadad;
    background: #adadad;
    text-align: center;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 15px;
}

header form {
    width: 300px;
}

#logo {
    width: 100px;
    height: 50px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 50%;
    /* padding: 2% 0; */
    font-family: 'Roboto', sans-serif;
}

nav a {
    color: black;
    text-decoration: none;
}

header {
    border-bottom: 1px solid #adadad;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/******** PAGE ACCUEIL *********/

/******** SIDEBAR *********/

.sidebar {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #adadad;
    width: 280px;
    margin-left: 20px;
}

.sidebar a {
    color: black;
    text-decoration: none;
    margin-top: 10px;
}

/******** SIDEBAR -- CHEKBOX ********/

/* label {
    display: block;
    cursor:pointer
}

input[type="checkbox"] {
    display:none;
} 
 
.sidebar div {
    height: auto;
    max-height: 0;
    overflow: hidden;
    transition: ease-in-out 0.3s
}

#form1 input[type="checkbox"]:checked + .contenu {
    max-height: 100%;
    margin-bottom: 1em;
}

#form2 input[type="checkbox"]#montrer2:checked ~ .contenu {
    max-height: 100%;
    margin-bottom: 1em;
}

.contenu {
    display: flex;
    flex-direction: column;
} */

.sous {
    color: blue;
    font-weight: bold;
}

/******* SECTION / ARTICLE *********/

section h2 {
    margin: 30px auto;
}

section {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 35px;
}

section article div {
    display: flex;
    flex-direction: row;
    /* background: red; */
    width: 20%;
    height: max-content;
    margin: 2vh;
}

section article {
    border-top: 1px solid #adadad;
    border-bottom: 1px solid #adadad;
    height: max-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* padding: 1vh 0; */
}


article img {
    width: calc(100% / 5 - 51px);
    height: auto;
    border-right: 1px solid #adadad;
    padding: 0 25px;
}

.page_accueil {
    display: flex;
}

main {
    width: 100%;
    min-height: 80vh;
}


/****************************/


section form {
    display: flex;
    flex-direction: column;
    background: whitesmoke;
    border-radius: 10px;
    padding: 3%;
}

/********** FOOTER *********/

footer {
    height: 70px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    bottom: 0;
    position: static;
    width: 100%;
}

footer a {
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.panier {
  display: flex;
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
}
